<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>с 8 Марта!</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="script.js"></script>
</head>
<body>

    <script type="text/x-template-lodash" id="girlTemplate">
            <div class="flip-container" data-name="<%= displayName %>">
                <div class="flipper">
                    <div class="front <%= className %>">
                        <span class="title"><%= title %></span>
                    </div>
                    <div class="back">
                        <div class="back-logo"></div>
                        <div class="back-compliment"></div>
                        <p></p>
                    </div>
                </div>
            </div>
    </script>

    <div id="app"></div>
</body>
</html>
