.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;

    display: inline-block;
    margin-right: 20px;
}

.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 427px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front.masha {
    background-image: url('./images/Masha.jpg');
}
.front.anna {
    background-image: url('./images/Anna.jpg');
}
.front.yulya {
    background-image: url('./images/Yulya.jpg');
}
.front.tanya {
    background-image: url('./images/Tanya.jpg');
}
.front.elmira {
    background-image: url('./images/Elmira.jpg');
}
.front.katya {
    background-image: url('./images/Katya.jpg');
}
.front.nastya {
    background-image: url('./images/Nastya.jpg');
}
.front.mariya {
    background-image: url('./images/Mariya.jpg');
}

.front {
    background-size: auto 427px;
    z-index: 2;
}

.front .name {
    font-size: 1.5em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 50px;
    left: 0px;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.back-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 260px;
    height: 220px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfHNMNw7ArKZwnbaTX_epdWfsMpeDK8u-6_ypt8tUwZNuZJpfM) 0 0 no-repeat;
    background-size: 220px;
}

.back-compliment {
    font-weight: bold;
    color: #00304a;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #acd7e5;
    font-family: Courier;
    font-size: 1.5em;
}