@media (orientation: landscape) {
    body {
        background-image: url('./images/bgs/bg3-small.jpg') !important;
    }
}
body {
    background-image: url('./images/bgs/bg3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #efe8cc;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip-wrapper {
    height: 80%;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 2px solid rgba(255,105,180, 0.8);

    max-width: 700px;
    max-height: 800px;
    margin: auto;
    z-index: 10;
}

.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    height: 100%;
    width: 100%;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front.masha {
    background-image: url('./images/Masha.jpg');
    background-position: left bottom;
}
.front.anna {
    background-image: url('./images/Anna.jpg');
    background-position: left center;
}
.front.yulya {
    background-image: url('./images/Yulya.jpg');
    background-position: left top;
}
.front.tanya {
    background-image: url('./images/Tanya.jpg');
    background-position: left bottom;
}
.front.elmira {
    background-image: url('./images/Elmira.jpg');
    background-position: left bottom;
}
.front.katya {
    background-image: url('./images/Katya.jpg');
    background-position: left bottom;
}
.front.mariya {
    background-image: url('./images/Mariya.jpg');
    background-position: left center;
}
.front.nastya {
    background-image: url('./images/Nastya.jpg');
    background-position: left center;
}

.front {
    background-size: cover;
    z-index: 2;
}

.front .title {
    font-size: 1.5em;
    display: inline-block;
    background: rgba(255,105,180, 0.8);
    color: #f8f8f8;
    font-family: Courier;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 50px;
    left: 0px;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: rgba(250, 218, 205, 0.7);
}

.back-logo {
    padding-top: 15px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-logo img {
    width: auto;
    height: 100%;
    display: block;
    border: 1px solid rgba(0,0,0, 0.75);
}

.back-compliment {
    padding: 15px;
    font-weight: bold;
    color: rgb(55, 55, 55);
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0.3);
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
    z-index: 0;
}